header {
    margin-bottom: 30px;
    height: 110px;
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    background: linear-gradient(90deg,#ed145b 0,#7b31f4);
}