.slider-container {
  position: relative;
  margin-top: 100px;
}
.slide {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    user-select: none;
  }
  &__title {
    margin-bottom: 15px;
  }
  &__poster {
    height: 445px;
    background-size: cover;
    user-select: none;
    object-fit: scale-down;

    @include media-mobie-mini {
      height: 400px;
    }
  }
  &__year {
    margin-top: 15px;
  }
  &__rate {
    margin-top: 5px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      background-image: url("../../img/star.svg");
      width: 24px;
      height: 24px;
      top: -3px;
      left: -30px;
    }
  }
}
.swiper-container {
  min-height: 600px;
}
.swiper-button-prev, .swiper-button-next {
  outline: none;
}
.swiper-pagination {
  position: inherit;
}
.swiper-pagination-bullet {
  background: #fff;
  margin-right: 5px;
}